<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.BookMapper">
	<!-- 전체 리스트 -->
	<select id="getList" resultType="com.project.domain.BookDTO">
		select * from tbl_book
	</select>
	<!-- 도서 상세정보 -->
	<select id="read" resultType="com.project.domain.BookDTO">
		select * from tbl_book where bno =
		#{bno}
	</select>
	<!-- 도서 검색 -->
	<!-- <select id="searchList" resultType="com.project.domain.BookDTO"> select 
		* from tbl_book where title like '%' || #{keyword} || '%' </select> -->
	<select id="searchList" resultType="com.project.domain.BookDTO">
		select * from tbl_book where
		<if test="keyword != null">
			<choose>
				<when test="type == 'T'.toString()">
					title like '%' || #{keyword} || '%'
				</when>
				<when test="type == 'A'.toString()">
					author like '%' || #{keyword} || '%'
				</when>
			</choose>

		</if>
	</select>


	<!-- 페이징 처리 -->
	<select id="getListWithPaging"
		resultType="com.project.domain.BookDTO">
	<![CDATA[
		select bno, author, title, discount, pubdate, isbn, image, category, publisher, description, reviewCnt, bookCount, price from(
		select rownum rn, bno, author, title, discount, pubdate, isbn, image, category, publisher, description, reviewCnt, bookCount, price
		from tbl_book 
		where
		rownum <= #{pageNum} * #{amount})
		where rn > (#{pageNum} -1) * #{amount}
	]]>
	</select>

	<!-- 총 도서 개수 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from
		tbl_book where bno > 0
	</select>

	<!-- 장바구니 추가 -->
	<insert id="insert">
		insert into tbl_book values
		(seq_book.nextval,
		#{author}, #{title}, #{discount}, #{pubdate}, #{isbn}, #{image},
		#{category}, #{publisher}, #{description})
	</insert>
	
	<!-- 리뷰 갯수 -->
	<update id="updateReviewCnt">
		update tbl_book set reviewCnt = reviewCnt +
		#{amount} where bno = #{bno}
	</update>
	
	<!-- 도서 카테고리 -->
	<select id="categoryList"
		resultType="com.project.domain.BookDTO">
		select * from tbl_book where category = #{category}
	</select>
</mapper>